$max-width-container: 1415px;
$xl-x-padding-container: 48px;
$l-x-padding-container: 15px;
$m-x-padding-container: 48px;
$s-x-padding-container: 20px;

$xl-screen: 1280px;
$l-screen: 1024px;
$m-screen: 768px;
$s-screen: 550px;

$header-height: 100px;
$m-header-height: 72px;
