@import "src/styles/variables.scss";

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
  max-width: 30px;
  width: 100%;
  background-color: unset;
  border: 0;
  padding: 0;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width: $xl-screen) {
    margin-left: 45px;
  }

  @media (max-width: $l-screen) {
    margin-left: 25px;
    max-width: 20px;
  }
  @media (max-width: $m-screen) {
    max-width: 18px;
  }
}

